{% extends "admin_panel.html" %}
{% block title %}Clientes{% endblock %}

{% block content %}

<div class="clientes-header">
    <div>
        <h1>Clientes</h1>
        <p>Administra y consulta los usuarios registrados.</p>
    </div>

    <div class="clientes-busqueda">
        🔎
        <input
            type="text"
            id="buscar-cliente"
            placeholder="Buscar cliente..."
            autocomplete="off"
        >
    </div>
</div>

<ul class="lista-usuarios" id="lista-clientes">

    {% for u in usuarios|sort(attribute='user_first_name') %}

        {% if not u.is_admin %}

        <li class="usuario-card"
            data-busqueda="{{ u.id }} {{ u.user_first_name }} {{ u.user_last_name }} {{ u.email }}">

            <div class="usuario-info">
                <p>ID: {{ u.id }}</p>

                <p>
                    Nombre:
                    <strong>
                        {{ u.user_first_name }} {{ u.user_last_name }}
                    </strong>
                </p>

                <p>Correo: {{ u.email }}</p>
            </div>

            <div class="usuario-actions">

                <a href="{{ url_for('admin_ver_direcciones_usuario', user_id=u.id) }}"
                   class="btn-accion">
                    Direcciones
                </a>

                <a href="{{ url_for('admin_editar_usuario', id=u.id) }}"
                   class="btn-accion">
                    Editar
                </a>

                <a href="{{ url_for('admin_ver_pedidos_usuario', user_id=u.id) }}"
                   class="btn-accion">
                    Ver
                </a>

                <a href="{{ url_for('ver_como_cliente', user_id=u.id) }}"
                   class="btn-ver-como">
                    👁 Ver como
                </a>

                <a href="{{ url_for('admin_eliminar_usuario', id=u.id) }}"
                   class="btn-accion-eli">
                    Eliminar
                </a>

            </div>

        </li>

        {% endif %}

    {% endfor %}

</ul>

<script>

const buscador = document.getElementById("buscar-cliente");
const clientes = document.querySelectorAll(".usuario-card");

buscador.addEventListener("input", function () {

    const texto = this.value
        .toLowerCase()
        .trim();

    clientes.forEach(cliente => {

        const contenido = cliente.dataset.busqueda.toLowerCase();

        if (contenido.includes(texto)) {
            cliente.style.display = "";
        } else {
            cliente.style.display = "none";
        }

    });

});

</script>

{% endblock %}
