{% extends "admin_panel.html" %}
{% block title %}Agregar producto{% endblock %}
{% block content %}
<div class="auth-container">

    <form class="form-container" action="add_productos" method="POST" enctype="multipart/form-data">
        <h2>Agregar Nuevo Producto</h2>
        <input class="form-input" type="text" name="nombre" placeholder="Nombre" required><br>
        <input class="form-input" type="text" name="precio" step="0.01" placeholder="Precio" required><br>
        <input class="form-input" type="text" name="peso" step="0.01" placeholder="Peso en kg o gramos" required><br>
        <input class="form-input" type="file" name="imagenes" accept="image/*" multiple required>
        <label>Categoría:</label>
        <select class="form-input" name="categoria" required>
            <option value="audífonos">Audífonos</option>
            <option value="teclados">Teclados</option>
            <option value="ratones">Ratones</option>
            <option value="pantallas">Pantallas</option>
        </select><br><br>
        <button class="btn-add-productos" type="submit">Guardar producto</button>
    </form>
</div>

{% endblock %}