<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porencargo</title>
    <link rel="stylesheet" href='/assets/css/admin_panel.css'>
</head>
<body>
       <div class="mensaje-flash">
        {% with mensajes = get_flashed_messages(with_categories=true) %}
          {% if mensajes %}
            {% for categoria, mensaje in mensajes %}
              <div id="mensaje-flash-directo" class="flash {{ categoria }}">{{ mensaje }}</div>
            {% endfor %}
          {% endif %}   
        {% endwith %}
    </div>

      
    <header>
      <div class="container">
    <nav>
      <button class="menu-toggle" aria-label="Abrir menú">☰</button>
      <div class="logo_porEncargo">
    <a href="{{ url_for('index') }}"> <!-- Agrega este enlace -->
        <img src="assets/img/logo_porEncargo_sinLetras.jpg" alt="logo">
    </a>
</div>
      <ul class="nav-links">
        <li><a href="{{ url_for('index')}}">Inicio</a></li>
        <li><a href="{{ url_for('login_register')}}">Mi casillero</a></li>
        <li><a href="{{ url_for('productos')}}">Productos</a></li>
        <li><a href="{{ url_for('calculadora')}}" class="contacto-btn">Calculadora</a></li>
        <li><a href="{{ url_for('rastrea_tu_orden')}}">Rastrea tu Orden</a></li>
        {% if current_user.is_authenticated and current_user.is_admin %}
          <li><a href="{{ url_for('admin_panel') }}">Panel Admin</a></li>
        {% endif %}
        {% if current_user.is_authenticated and not current_user.is_admin %}
          <li><a href="{{ url_for('pedidos_del_usuario') }}">Mis pedidos</a></li>
        {% endif %}
      </ul>
      <!-- Dólar Hoy TRM -->
      <style>#dolar_wpc1 a { font-size:1.2rem; font-weight:500; text-decoration:none;} #widget_usd_cop1 {font-size:1.1rem; color:#000;}</style>
      <div id="dolar_wpc1"><a href="https://dolar.wilkinsonpc.com.co/" target="_new">Dólar Hoy TRM</a></div>
      <script src="https://widgets.wilkinsonpc.com.co/curr/curr-usd-cop1.js"></script>
    </nav>
  </div>
</header>

      <div class="container-productos">
        <aside class="sidebar">
          <div class="filter-group">
            <a href="{{ url_for('admin_panel_add_productos') }}" class="btn-sidebar">Agregar productos</a>
            <a href="{{ url_for('admin_panel') }}" class="btn-sidebar">Productos</a>
            <a href="{{ url_for('admin_panel_ver_usuarios' )}}" class="btn-sidebar">Usuarios</a>
          </div>
        </aside>
          <main class="main">
            <div class="contenido">
              {% block content %}
                <h1>Productos</h1>
              </div>  
              <div class="product-grid">
                {% for producto in productos%}
                  <!-- Ejemplo de producto -->
                  <div class="product-card">
                    <div class="image-container">
                      <img src="{{ url_for('static', filename=producto.imagen) }}" alt="Imagen de {{ producto.nombre }}" class="product-image">
                    </div>
                      <h3>{{ producto.nombre}}</h3>
                      <p>Precio: {{producto.precio}} </p>
                      <p>Peso: {{producto.peso}} </p>
                      <a  href="{{ url_for('admin_panel_modificar_productos', id=producto.id) }}">
                        <button type="submit" class="btn-del-producto">modificar</button>
                      </a>
                      <form  action="{{ url_for('eliminar_producto', id=producto.id) }}" method="POST">
                      <button type="submit" class="btn-del-producto">Eliminar</button>
                    </form>


                      <p>DEBUG ruta imagen cruda: {{ producto.imagen }}</p>
                      <p>DEBUG ruta imagen final: {{ url_for('static', filename=producto.imagen) }}</p>
                      
                  </div>
                {% endfor %}
                  <!-- Más productos aquí -->
              </div>
              {% endblock %}
          </main> 
      </div>
      <a href="https://wa.me/573186505475" target="_blank" style="position:fixed;bottom:20px;right:20px;z-index:9999;"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" alt="WhatsApp" style="width:50px;height:50px;"></a>
    <script src="/assets/js/animacion_contact.js"></script>

</body>

</html>


