{% extends "base.html" %}

{% block content %}
<div class="detalle-producto">
    <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}">
    <h1>{{ producto.nombre }}</h1>
    <p class="precio">${{ '{:,}'.format(producto.precio) }}</p>
    <p class="descripcion">{{ producto.descripcion }}</p>
    <p class="categoria"><strong>Categoría:</strong> {{ producto.categoria }}</p>
    <p class="stock"><strong>Stock:</strong> {{ producto.stock }} unidades</p>
    
    <button class="btn-carrito" onclick="agregarAlCarrito({{ producto.id }})">
        🛒 Agregar al carrito
    </button>
</div>
{% endblock %}