<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porencargo</title>
    <link rel="stylesheet" href="/assets/css/login_register.css">
</head>
<body>
     <div class="mensaje-flash">
        {% with mensajes = get_flashed_messages(with_categories=true) %}
          {% if mensajes %}
            {% for categoria, mensaje in mensajes %}
              <div id="mensaje-flash-directo" class="flash {{ categoria }}">{{ mensaje }}</div>
            {% endfor %}
          {% endif %}   
        {% endwith %}
    </div>
    <header>
      <div class="container">
    <nav>
      <button class="menu-toggle" aria-label="Abrir menú">☰</button>
      <div class="logo_porEncargo">
        <img src="assets/img/logo_porEncargo_sinLetras.png" alt="logo">
      </div>
      <ul class="nav-links">
        <li><a href="{{ url_for('index')}}">Inicio</a></li>
        <li><a href="{{ url_for('login_register')}}">Mi casillero</a></li>
        <li><a href="{{ url_for('productos')}}">Productos</a></li>
        <li><a href="{{ url_for('calculadora')}}" class="contacto-btn">Calculadora</a></li>
        <li><a href="{{ url_for('rastrea_tu_orden')}}">Rastrea tu orden</a></li>
        {% if current_user.is_authenticated and current_user.is_admin %}
          <li><a href="{{ url_for('admin_panel') }}">Panel Admin</a></li>
        {% endif %}
        {% if current_user.is_authenticated and not current_user.is_admin %}
          <li><a href="{{ url_for('pedidos_del_usuario') }}">Mis pedidos</a></li>
        {% endif %}
      </ul>
      <!-- Dólar Hoy TRM -->
      <style>#dolar_wpc1 a { font-size:1.2rem; font-weight:500; text-decoration:none;} #widget_usd_cop1 {font-size:1.1rem; color:#000;}</style>
      <div id="dolar_wpc1"><a href="https://dolar.wilkinsonpc.com.co/" target="_new">Dólar Hoy TRM</a></div>
      <script src="https://widgets.wilkinsonpc.com.co/curr/curr-usd-cop1.js"></script>
    </nav>
  </div>
</header>



    <main >
      <div class="auth-container">
        <div class="form-container" id="register">
            <!-- Formulario de Registro (oculto por defecto) -->
            <h2>Registro</h2>
            <form method="POST" action="registro">
                <input type="text" name="user_first_name" placeholder="Nombre" required>
                <input type="text" name="user_last_name" placeholder="Apellido" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="number" name="number" placeholder="Numero de celular" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Registrarse</button>
            </form>
            <!-- Botón para volver a Login -->
            <a href="#login" class="toggle-btn">¿Ya tienes cuenta? Inicia sesión</a></p>
        </div>
        
        <!-- Formulario de Login (visible por defecto) -->
        <div class="form-container" id="login">
            <h2>Login</h2>
            <form method="POST" action="login">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Ingresar</button>
            </form>
            <!-- Botón para cambiar a Registro -->
            <a href="#register" class="toggle-btn">¿No tienes cuenta? Regístrarte</a>
        </div>
        
    </div>
  </main>
      <a href="https://wa.me/573186505475" target="_blank" style="position:fixed;bottom:20px;right:20px;z-index:9999;"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" alt="WhatsApp" style="width:50px;height:50px;"></a>
    
  </body>
    <script src="/assets/js/animacion_contact.js"></script>

</html>

