{% extends "mis_pedidos.html" %}
{% block content %}
<h1 class="page-title">Mis direcciones</h1>
<link rel="stylesheet" href="assets/css/mis_pedidos.css">
{% if direccioness %}
    {% for direccion in direccioness %}
        <div class="bloque bloque-con-boton">
            <ul>
                <li><strong>Nombre:</strong> {{ direccion.name }}</li>
                <li><strong>Ciudad:</strong> {{ direccion.ciudad }}</li>
                <li><strong>Dirección:</strong> {{ direccion.direccion }}</li>
            </ul>
            <div class="boton-eliminar">
                <form  method="POST" action="{{ url_for('eliminar_direccion', id=direccion.id) }}" style="display:inline;">
                    <button type="submit" onclick="return confirm('¿Seguro que quieres eliminar esta dirección?')">Eliminar</button>
                </form>
            </div>

        
        </div>
        
        {% endfor %}
        {% else %}
            <p style="margin-bottom: 15px;">No tienes direcciones registradas.</p>
        {% endif %}
        <form method="POST" action="{{ url_for('nueva_direccion') }}">
            <input type="text" name="name" placeholder="Nombre y apellido completo" required>
            <input type="text" name="pais" placeholder="País" required>
            <input type="text" name="ciudad" placeholder="Ciudad" required>
            <input type="text" name="direccion" placeholder="Dirección completa" required>
            <input type="text" name="codigo_postal" placeholder="Código postal" required>
            <button type="submit">Guardar dirección</button>
        </form>
{% endblock %}
