{% extends "login_register.html" %}

{% block content %}

<div class="auth-container">

    <form class="form-container" method="POST">

        <h2>Recuperar contraseña</h2>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for categoria, mensaje in messages %}
      <div class="alerta {{ categoria }}">
        {{ mensaje }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

        <p class="subtitulo">
            Ingresa el correo con el que creaste tu casillero.
            Te enviaremos un enlace seguro para crear una nueva contraseña.
        </p>

        <input
            class="form-input"
            type="email"
            name="email"
            placeholder="Correo electrónico"
            required>

        <button class="btn-login" type="submit">
            Enviar enlace
        </button>

        <a href="{{ url_for('login') }}" class="toggle-btn">
            ← Volver al inicio de sesión
        </a>

    </form>

</div>

{% endblock %}
