{% extends "mis_pedidos.html" %}

{% block content %}

<!-- Header completo con logo y menú -->
<header>
  <div class="container">
    <nav>
      <button class="menu-toggle" aria-label="Abrir menú">☰</button>
      <div class="logo_porEncargo">
        <a href="{{ url_for('index') }}">
          <img src="/assets/img/logo_porEncargo_sinLetras.jpg" alt="logo">
        </a>
      </div>
      <ul class="nav-links">
        <li><a href="{{ url_for('index')}}">Inicio</a></li>
        <li><a href="{{ url_for('login_register')}}">Mi Casillero</a></li>
        <li><a href="{{ url_for('productos')}}">Productos</a></li>
        <li><a href="{{ url_for('calculadora')}}" class="contacto-btn">Calculadora</a></li>
        <li><a href="{{ url_for('rastrea_tu_orden')}}">Rastrea tu Orden</a></li>
        {% if current_user.is_authenticated and current_user.is_admin %}
          <li><a href="{{ url_for('admin_panel') }}">Panel Admin</a></li>
        {% endif %}
        {% if current_user.is_authenticated and not current_user.is_admin %}
          <li><a href="{{ url_for('pedidos_del_usuario') }}">Mis pedidos</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
<!-- Fin header -->

<h1 class="page-title">Mis pedidos</h1>

{% if paquetes %}
    {% for paquete in paquetes %}
        <div class="bloque">
            <ul>
                <li><strong>Nombre:</strong> {{ paquete.nombre }}</li>
                <li><strong>Precio:</strong> {{ paquete.precio }}</li>
                <li><strong>Número de guía:</strong> {{ paquete.numero_guia }}</li>
                <li><strong>Peso:</strong> {{ paquete.peso }}</li>
                
                {% if paquete.prealerta %}
                  <li style="color: #e90303;"><strong style="color: #333;">Aviso:</strong> En prealerta</li>
                {% endif %}
                
                <li>
                  <strong>Estado:</strong> 
                  <span style="color: {% if paquete.estado.value == 'En prealerta' %}#e90303{% else %}#50c850{% endif %};">
                    {{ paquete.estado.value }}
                  </span>
                </li>
            </ul>
        </div>
    {% endfor %}
{% else %}
    <p>No tienes paquetes registrados.</p>
{% endif %}

{% endblock %}
