<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nueva contraseña</title>
    <link rel="stylesheet" href="/assets/css/login_register.css">
</head>
<body>

<main>
<div class="auth-container">

    <form class="form-container recovery-card" method="POST">

        <div class="lock-circle">🔒</div>

        <h2>Nueva contraseña</h2>

        <p class="subtitulo">
            Crea una contraseña segura para tu cuenta.
        </p>

        <label>Nueva contraseña</label>

        <input
            class="form-input"
            type="password"
            name="password"
            placeholder="••••••••"
            required>

        <button class="btn-gradient" type="submit">
            Guardar contraseña
        </button>

    </form>

</div>
</main>

</body>
</html>
